#message {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}

.alert {
    position: relative;
    padding: 3%;
    /* padding: 0.75rem 1.25rem; */
    margin: 12%;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
