body {
    /* font-family: "Lato", sans-serif; */
  }
  
  .sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.4;
    height: 100%;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-items: "top";
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  #sidebar-toggler{
    margin-top: -70px;
    margin-left: 6px;
    border: none;
    color: black;

  }

  #Shape3 {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
  }

  #Path{
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
  }

  #Shape2 {
    width: 20px;
    height: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
    cursor: pointer;
  }

  #Shape {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
  }

  #Shape-Copy-66 {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
  }
  
  .Profile-Copy {
    width: 42px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .Configuration-Copy {
    width: 86px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .-Hub-Copy {
    width: 38px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }
  .Print-Screen-Copy {
    width: 78px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  .Help-Copy {
    width: 29px;
    height: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 550;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
  }

  hr {
    display: block;
    width: 141px;
    height: 2px;
    border: 0;
    margin-left: 10px;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

   @media only screen and (min-width: 768px) {
    .sidebar-container{
      display:none;
    }
  } 