.Store-Selection {
  font-family: Robotto;
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #008060;    
}

.home-padding{
  padding-top: 66px; 
  margin: 0px;
}

.Store-Nickname-Store{
  font-family: Robotto;
  font-size: 30px;
  font-weight: 550;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4a4a4a;
}

.Store-Nickname-Store .nav-link {
  padding: 0;
  
}

.Street-Address-City {
  font-family: Robotto;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

#Rectangle {
  /* width: 330px; */
  height: 80%;
  border-radius: 3px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5), 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: "8px";
  padding: 14px
}

#Rectangle:hover {
  background-color: #008060;
  cursor: pointer;
}

#Rectangle:hover .Store-Nickname-Store{
color: #ffffff;
}

#Rectangle:hover .Street-Address-City{
color: #ffffff;
}

.align-right{
  text-align: right;
  height: 32px;
  font-family: Robotto;
  font-size: 24px;
  font-weight: 700;
  color: #4a4a4a;
  right: 0;
  position: absolute;
  margin-top: -25px;
  margin-right: 10px
}
.store-selection-cards{
  padding-right: 30px;
  padding-left: 30px;
}

 .Store-Search-home {
  float: right;
  padding-right: 50px;
}

#Store-Search {
  width: 95%;
  height: 36px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #4a4a4a;
  color: #979797
}

#search-line {
  width: 2px;
  height: 25px;
  border: 1px solid #979797;
  font-size: 25px;
  margin-left: -30px;
}

#search-icon {
  width: 22px;
  height: 22px;
  font-size: 22px;
  /* padding-bottom: 30px;
  width: 17.5px;
  height: 17.5px;
  -webkit-backdrop-filter: blur(10.2px); */
  /* backdrop-filter: blur(10.2px); */
  color: #9b9b9b;
}

.store-listing-prev {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 18px 0;
  position: fixed;
  bottom: -1%;
  right: 14%;
  width: 10%
}

.btn-previous { 
  font-family: Heebo;
  font-size: 18px;
  font-weight: 1000;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #008060;
  background-color: white;
  border: 2px solid #008060;
  border-radius: 8px;
  width: 100%;
}

/* .btn-previous:active{
  color: white;
  background-color: #008060;
} */

@media only screen and (max-width : 768px) {
  .Store-Search-mob {
    padding-top: 15px;
    padding-left: 30px;
    width: 100% 
  }

  .mob-container{
    max-width: 100% ;
  }
  .Store-Selection {

    font-size: 24px;
  }

  #Store-Search {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #4a4a4a;
    color: #979797
  }

  .Store-Nickname-Store{
    font-size: 18px;

  }
  
  
  .Street-Address-City {
    font-size: 20px;
  }
  
}

@media (min-width:320px) and (max-width:480px) {
  .btn-previous, .btn-continue, .btn-next {
      display: block !important;
      padding: 0.475rem 0.75rem 0.375rem;
      height: 40px;
      font-size: 14px;
  }
}

@media only screen and (min-width : 768px) and (max-width: 1000px) {
    
  .Store-Search-home {
    float: right;
    padding-right: 0px;
  }

  .select__placeholder {
    font-size: 12px;
  }
  
}